name: Docker image CI

on:
  push:
    branches:
      - main
    paths:
      - '.github/**'
      - '10.6/**'
      - '10.11/**'
      - '11.4/**'
      - '11.8/**'
      - '12.1/**'
  schedule:
    - cron: '0 1 * * 6'
  workflow_dispatch:

jobs:
  build-docker-images:
    runs-on: [ubuntu-24.04]

    strategy:
      fail-fast: false
      matrix:
        version: [10.6-jammy, 10.11-jammy, 11.4-noble, 11.8-noble, 12.1-noble]
        include:
          - version: 10.6-jammy
            docker-context: 10.6/ubuntu/default
            docker-tags: |
              nicoherbigde/mariadb:10.6
              nicoherbigde/mariadb:10.6-jammy
              nicoherbigde/mariadb:10.6.24
              nicoherbigde/mariadb:10.6.24-jammy
          - version: 10.11-jammy
            docker-context: 10.11/ubuntu/default
            docker-tags: |
              nicoherbigde/mariadb:10.11
              nicoherbigde/mariadb:10.11-jammy
              nicoherbigde/mariadb:10.11.15
              nicoherbigde/mariadb:10.11.15-jammy
          - version: 11.4-noble
            docker-context: 11.4/ubuntu/default
            docker-tags: |
              nicoherbigde/mariadb:11.4
              nicoherbigde/mariadb:11.4-noble
              nicoherbigde/mariadb:11.4.9
              nicoherbigde/mariadb:11.4.9-noble
          - version: 11.8-noble
            docker-context: 11.8/ubuntu/default
            docker-tags: |
              nicoherbigde/mariadb:11.8
              nicoherbigde/mariadb:11.8-noble
              nicoherbigde/mariadb:11.8.5
              nicoherbigde/mariadb:11.8.5-noble
          - version: 12.1-noble
            docker-context: 12.1/ubuntu/default
            docker-tags: |
              nicoherbigde/mariadb:12.1
              nicoherbigde/mariadb:12.1-noble
              nicoherbigde/mariadb:12.1.2
              nicoherbigde/mariadb:12.1.2-noble

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image and Push it to Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.docker-context }}
          no-cache: true
          pull: true
          push: true
          tags: ${{ matrix.docker-tags }}
